body {
  display: flex;
  justify-content: center;
}
.imagen {
  background-image: url(../images/thumb1.png);
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1024px;
}
.colorletra {
  color: white;
}
.todo {
  opacity: 1;
  top: -639px;
  left: 6476px;
  border-radius: 4.74px;
  background-size: cover;
}

.plarga {
  display: flex;
  justify-content: center;
  font-size: 51px;
}
.h1letra {
  margin-left: 150px;
  margin-top: 150px;
}
.p1letra {
  margin-left: 150px;
  font-size: 20px;
}
.imagen2 {
  margin-left: 150px;
  margin-top: 200px;
  width: 400px;
}
.margen {
  margin-top: 100px;
}

.imagen1_2 {
  background-image: url(../images/thumb3.png);
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1024px;
}
.h1_2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 200px;
}
.p1_2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.imagen1_22{
    display: flex;
    margin-left: 620px;
    width: 200px;
}

.imagen1_3 {
  background-image: url(../images/thumb5.png);
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1024px;
}